* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    user-select: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.s-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;

    @media (max-width: 767px) {
        padding: 0 24px;
    }
}

body {
    font-family: 'Pangram';
    line-height: 1;
    background: #fff;
    // overflow: hidden;
    // height: 10000px;
}

.annual-item{
    display: none;
}

.switch-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    >span {
        color: #fff;
        font-size: 17px;
        opacity: 0.9;
    }

    .switch-item {
        position: relative;

        >input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
        }

        label .switch-bar {
            width: 40px;
            height: 20px;
            background: #2763f7;
            border-radius: 100px;
            position: relative;
            margin: 0 10px;
            cursor: pointer;

            >span {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(3px, -50%);
                width: 15px;
                height: 15px;
                background: white;
                border-radius: 100%;
                transition: 0.4s;
            }
        }

        input:checked~label .switch-bar>span {
            transform: translate(22px, -50%);
        }
    }
}

.page-banner {
    position: relative;
    margin-top: -110px;
    padding-top: calc(110px + 90px);
    padding-bottom: 120px;
    overflow: hidden;
    background: #07071c;

    .banner-circle.circle-1 {
        position: absolute;
        left: 60%;
        transform: translate(-50%, 0px);
        bottom: -90px;
        height: 900px;
        width: 900px;
        border-radius: 100%;
        background: #100C5D;
        filter: blur(190px);
        opacity: 0.8;
    }

    .s-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .banner-breadcrumb span {
            font-size: 13px;
            letter-spacing: 0.05em;
            color: #e7a1ee;
            position: relative;

            +span {
                margin-left: 10px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: -9px;
                    height: 9px;
                    width: 1px;
                    background: #e7a1ee;
                }
            }
        }

        .banner-title {
            h1 {
                font-size: 65px;
                letter-spacing: 0.02em;
                color: #fff;
                margin-bottom: 45px;
            }

            p {
                font-size: 26px;
                letter-spacing: 0.01em;
                line-height: 38px;
                color: #fff;
            }
        }

        .banner-breadcrumb {
            margin-bottom: 60px;
        }

        .banner-title {
            max-width: 700px;
        }
    }

    @media (max-width: 991px) {
        .s-container .banner-title {
            max-width: 70%;

            h1 {
                font-size: 44px;
            }

            p {
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 50px;

        .s-container {
            .banner-breadcrumb {
                margin-bottom: 32px;
            }

            .banner-title {
                max-width: 100%;

                h1 {
                    font-size: 32px;
                    line-height: normal;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}





div#container:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 600px;
    filter: blur(220px);
    background: #419efc;
    opacity: 0.4;
}

div#container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 500px;
    filter: blur(220px);
    background: #6d507b;
    opacity: 0.8;
}

div#container {
    background: #161620;
}