{% extends "../main.njk" %}

{% block page_title %}
   Cookie policy
{% endblock %}

{% block header %}
    {% from "../layouts/header.njk" import header %}
    <main data-barba="container" data-barba-namespace="contract-section">
        {{ header() }}
    {% endblock %}

    {% block content %}
        <section class="page-banner">
            <div class="banner-bg"></div>

            <div class="banner-circle circle-2"></div>
            <div class="banner-circle circle-1"></div>

            <div class="s-container">
                <div class="banner-breadcrumb">
                    {# <span>Privicy Policy</span> #}
                </div>

                <div class="banner-title">
                    <h1>Çerezlere İlişkin Aydınlatma Metni</h1>
                </div>
            </div>
        </section>

        <section class="usecase-detail">
            <div class="detail-container">
                <div class="detail-item">
                    <p>
                        Bu metin, 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun (Kanun) 10’uncu maddesi ile Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında Tebliğ kapsamında veri sorumlusu sıfatıyla Virgosol Bilişim ve Yazılım Çözümleri Anonim Şirketi tarafından hazırlanmıştır.
                        <br><br>
                        Bu Çerez Aydınlatma Metni’nin amacı, internet sitemizde kullanılan çerezlerin cihazınıza yerleştirilmesi aracılığıyla otomatik yolla elde edilen kişisel verilerin işlenmesine ilişkin olarak, hangi amaçlarla hangi tür çerezleri kullandığımızı ve bu çerezleri nasıl yönetebileceğiniz hakkında sizlere bilgi vermektir.
                        <br><br>
                        İnternet sitemizde kullandığımız, zorunlu çerezler haricindeki çerezler için, kullanıcıların açık rızaları alınmakta ve istedikleri zaman rızalarını değiştirebilme olanağı sağlanmaktadır. Kullanıcılar çerez yönetim paneli üzerinden, internet sitemizde kullanılan çerez çeşitlerini görebilmekte ve Zorunlu Çerezler dışında kalan tüm çerezler için “açık” veya “kapalı” seçenekleri ile tercihlerini belirleyebilmektedirler. Yine bu panel üzerinden kullanıcılar tercihlerini her zaman değiştirebilmektedirler.
                    </p>
                </div>

                <div class="detail-item">
                    <h2>Çerez Çeşitleri</h2>
                    <p>
                        Kullanım süresine göre çerez çeşitleri: İnternet sitemizde kullanım sürelerine göre oturum çerezleri ve kalıcı çerezler kullanmaktadır. Oturum çerezi, oturumun sürekliliğinin sağlanması amacıyla kullanılmakta olup kullanıcı tarayıcısını kapattığında bu çerezler de silinmektedir. Kalıcı çerez ise internet tarayıcısı kapatıldığı zaman silinmemekte ve belirli bir tarihte veya belirli bir süre sonra kendiliğinden silinmektedir.
                    </p>
                </div>

                <div class="detail-item">
                    <h2>Birinci taraf ve üçüncü taraf çerezler</h2>
                    <p>
                        Çerezin birinci taraf ya da üçüncü taraf olması durumu, internet sitesinin ya da etki alanının yerleştirdiği çereze göre değişiklik arz etmektedir. Birinci taraf çerezler, doğrudan kullanıcının ziyaret ettiği internet sitesi yani tarayıcının adres çubuğunda gösterilen internet adresi (ornek.com.tr) tarafından yerleştirilmektedir. Üçüncü taraf çerezlerse kullanıcının ziyaret ettiği etki alanından farklı bir etki alanı tarafından yerleştirilmektedir.
                    </p>
                </div>

                <div class="detail-item">
                    <p>
                        Kullanım amaçlarına göre çerez çeşitleri: İnternet sitemizde kullanım amacına göre aşağıdaki çerezler kullanılmaktadır:
                    </p>
                </div>

                <div class="detail-item">
                    <h2>Zorunlu Çerezler</h2>
                    <p>
                        Bu çerezler internet sitemizin çalışması amacıyla gerekli olan çerezlerdir. Söz konusu çerezler birinci taraf çerezler olup oturum süresince (gizlilik tercihlerinize dair çerezler hariç olmak üzere, zira bu çerezler oturum süresinden daha uzun ömürlüdür.) kişisel veri işlemekte, oturum sonlandığında otomatikman silinmektedirler. Söz konusu çerezler talep etmiş olduğunuz bir bilgi toplumu hizmetinin (log-in olma, form doldurma ve gizlilik tercihlerinin hatırlanması) yerine getirilebilmesi için zorunlu olarak kullanılmaktadırlar. Ayrıca performans ve analitik amaçlı çerez internet sitemizdeki ziyaretçilerin sayılması ve trafiğin ölçülmesine olanak sağlamaktadır ve birinci taraftır. Bu sayede sitemizin performansını ölçmekte ve iyileştirebilmekteyiz. Bu çerezler internet sitemizdeki hangi sayfaların en popüler olduğu, hangilerinin de en az popüler olduğunu anlamamıza yardımcı olmaktadır.
                    </p>
                </div>

                <div class="detail-item">
                    <h2>Reklam/Pazarlama Çerezleri</h2>
                    <p>
                        Bu çerezler internet sitemiz aracılığıyla reklam ortaklarımızın yerleştirdikleri çerezler olup üçüncü taraf çerezlerdir. Bu çerezler iş ortaklarımız tarafından ilgi alanlarınıza göre profilinizin çıkarılması ve size ilgili reklamlar göstermek üzere kullanılmaktadır.
                    </p>
                </div>

                <div class="detail-item">
                    <h2>İşlevsel Çerezler</h2>
                    <p>
                        Bu tür çerezler, internet sitemizi daha işlevsel kılmak ve kişiselleştirme amaçlarıyla (gizlilik tercihleriniz hariç olmak üzere diğer tercihlerinizin siteye tekrar girdiğinizde hatırlanmasını sağlamak) kullanılmaktadır.
                    </p>
                </div>

                <div class="detail-item">
                    <h2>Kişisel Verilerin Hangi Amaçlarla İşleneceği ve Hukuki Sebepler</h2>
                    <p>
                        Zorunlu çerezler, talep etmiş olduğunuz bir bilgi toplumu hizmetinin (log-in olma, form doldurma ve gizlilik tercihlerinin hatırlanması, internet sitemizdeki ziyaretçilerin sayılması ve trafiğin ölçülmesi) yerine getirilebilmesi amacıyla kullanılmaktadır. Bu çerezler aracılığıyla toplanan kişisel verileriniz, Kanun’un 5’inci maddesinin (2) numaralı fıkrasının (c) bendi “Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması” veya (f) bendi “İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması” kapsamında işlenmektedir.
                        <br><br>
                        Reklam ve Pazarlama çerezleri, iş ortaklarımız tarafından ilgi alanlarınıza göre profilinizin çıkarılması ve size ilgili reklamlar göstermek amacıyla kullanılmaktadır. Bu çerezler aracılığıyla toplanan kişisel verileriniz, Kanun’un 5’inci maddesinin (1) numaralı fıkrası kapsamında açık rızanızın alınması suretiyle işlenmektedir.
                        <br><br>
                        İnternet sitemizde yer alan çerezlere ilişkin bilgiler aşağıdaki tabloda yer almaktadır:
                    </p>
                </div>

                <div class="detail-item">
                    <h2>1.	Zorunlu Çerezler</h2>
                    <p>
                        Bu çerezler internet sitemizin çalışması amacıyla gerekli olan çerezlerdir. Söz konusu çerezler birinci taraf çerezler olup oturum süresince (gizlilik tercihlerinize dair çerezler hariç olmak üzere, zira bu çerezler oturum süresinden daha uzun ömürlüdür.) kişisel veri işlemekte, oturum sonlandığında otomatikman silinmektedirler. Söz konusu çerezler talep etmiş olduğunuz bir bilgi toplumu hizmetinin (log-in olma, form doldurma ve gizlilik tercihlerinin hatırlanması) yerine getirilebilmesi için zorunlu olarak kullanılmaktadırlar. Ayrıca performans ve analitik amaçlı çerez internet sitemizdeki ziyaretçilerin sayılması ve trafiğin ölçülmesine olanak sağlamaktadır ve birinci taraftır. Bu sayede sitemizin performansını ölçmekte ve iyileştirebilmekteyiz. Bu çerezler internet sitemizdeki hangi sayfaların en popüler olduğu, hangilerinin de en az popüler olduğunu anlamamıza yardımcı olmaktadır.
                    </p>
                </div>

                <div class="detail-item">
                    <h2>2.	Reklam/Pazarlama Çerezleri</h2>
                    <p>
                        Bu çerezler internet sitemiz aracılığıyla reklam ortaklarımızın yerleştirdikleri çerezler olup üçüncü taraf çerezlerdir. Bu çerezler iş ortaklarımız tarafından ilgi alanlarınıza göre profilinizin çıkarılması ve size ilgili reklamlar göstermek üzere kullanılmaktadır.
                        <br><br>
                        İnternet sitemizde yer alan çerezlere ilişkin bilgiler aşağıdaki tabloda yer almaktadır:
                    </p>

                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>Çerezin İsmi</th>
                                <th>Çerezin Amacı</th>
                                <th>Çerezin Tipi</th>
                                <th>Çerezin Saklanma Süresi</th>
                            </tr>
                            <tr>
                                <td>x-auth</td>
                                <td>İnternet sitenizin çalışması için gerekli olan çerezlerden olup talep etmiş olduğunuz bir bilgi toplumu hizmetinin (login olma) yerine getirilmesi için zorunlu olarak kullanılmaktadırlar. Sayfaya girildiğinde aktif olarak yerleştirilmektedirler.</td>
                                <td>Birinci Taraf Çerezleri</td>
                                <td>1 gün süreyle saklanmaktadır.</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="detail-item">
                    <h2>İlgili Kişilerin Talepleri</h2>

                    <p>
                        KVKK’nın 11. maddesi uyarınca kişisel verilerinize ilişkin aşağıdaki haklara sahipsiniz:
                    </p>

                    <ul>
                        <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
                        <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</li>
                        <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                        <li>Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,</li>
                        <li>Kişisel verilerinizin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                        <li>6698 sayılı Kişisel Verilerin Korunması Kanunu ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerinizin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                        <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,</li>
                        <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız halinde bu zararın giderilmesini talep etme.</li>
                    </ul>
                </div>

                <div class="detail-item">
                    <h2>Tarayıcı Ayarlarından Çerez Ayarları</h2>

                    <p>
                        İnternet sitemizde yer alan ikona tıklayarak istediğiniz anda çerezlere ilişkin tercihlerinizi değiştirebilirsiniz. Çerez yönetim panelindeki butonları tercihinize göre açık veya kapalı konuma getirerek “Ayarları kaydet” butonuna tıklayınız. Ayarlarınızı etkin hâle getirmek için sayfayı yenileyiniz. Bunun yanı sıra, tarayıcı ayarları aracılığıyla da kısmen kontrol sağlanabilmektedir. Sık kullanılan tarayıcılarda çerezlerin yönetimine ilişkin bilgilere aşağıdaki bağlantılar aracılığıyla erişebilirsiniz:
                        <br><br>
                        Google Chrome
                        <br>
                        <a href="https://support.google.com/accounts/ answer/61416?co=GENIE.Platform%3DDesktop&hl=tr" target="_blank">https://support.google.com/accounts/ answer/61416?co=GENIE.Platform%3DDesktop&hl=tr</a>
                        <br><br>
                        Mozilla Firefox
                        <br>
                        <a href="https://support.mozilla.org/tr/kb/masaustufirefox-surumunde-gelismis-izlenme-koruma" target="_blank">https://support.mozilla.org/tr/kb/masaustufirefox-surumunde-gelismis-izlenme-koruma</a>
                        <br><br>
                        Safari
                        <br>
                        <a href="https://help.apple.com/safari/mac/9.0/#/sfri40732" target="_blank">https://help.apple.com/safari/mac/9.0/#/sfri40732</a>
                        <br><br>
                        Opera
                        <br>
                        <a href="https://help.opera.com/en/latest/web-preferences/" target="_blank">https://help.opera.com/en/latest/web-preferences/</a>
                    </p>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        {% from "../layouts/footer.njk" import footer %}
        {{ footer(false, "") }}
    </main>
{% endblock %}