{% extends "../main.njk" %}

{% block page_title %}
   Pricing
{% endblock %}

{% block header %}
    {% from "../layouts/header.njk" import header %}
    <main data-barba="container" data-barba-namespace="pricing-section">
        {{ header() }}
    {% endblock %}

    {% block content %}
        <section class="pricing-banner">
            <div class="pricing-banner-color"></div>

            <div class="pricing-banner-bg">
                <span></span>
            </div>

            <div class="s-container">
                <h1>Choose <span>The Plan</span>
                    <br> Fits for your needs</h1>

                <div class="switch-plan">
                    <span>Monthly</span>

                    <div class="switch-item">
                        <input type="checkbox" name="switch-plan" id="switch-plan">
                        <label for="switch-plan">
                            <div class="switch-bar">
                                <span></span>
                            </div>
                        </label>
                    </div>

                    <span>Annual</span>
                </div>
            </div>
        </section>

        <section class="pricing-content">
            <div class="content-plan-container">
                <div class="content-plan">
                    <div class="s-container">
                        <span>PLAN</span>

                        <div class="plan-row">
                            <div class="plan-title">
                                <span>PRICING</span>
                            </div>

                            <div class="plan-item">
                                <div class="item-header">
                                    <h2>Free</h2>

                                    {# <p></p> #}
                                </div>

                                <div class="item-content">
                                    <div class="price">
                                        <span>Starts at</span>
                                        <span>
                                            <span>$</span>0
                            </span>
                                        <p>/free</p>
                                    </div>

                                    <a href="http://www.loadmance.com/login" target="_blank">Sign Up Free</a>
                                </div>
                            </div>

                            <div class="plan-item">
                                <div class="item-header">
                                    <h2>Basic</h2>

                                    {# <p></p> #}
                                </div>

                                <div class="item-content">
                                    <div class="price">
                                        <span>Starts at</span>
                                        <span>
                                            <span>$</span>
                                            <span class="monthly-item">69</span>
                                            <span class="annual-item">759</span>
                                        </span>
                                        <p>
                                            <span class="monthly-item">/monthly</span>
                                            <span class="annual-item">/annual</span>
                                        </p>
                                    </div>

                                    <a href="http://www.loadmance.com/login" target="_blank">Login to Buy</a>
                                </div>
                            </div>

                            <div class="plan-item">
                                <div class="item-header">
                                    <h2>Standard</h2>

                                    {# <p></p> #}
                                </div>

                                <div class="item-content">
                                    <div class="price">
                                        <span>Starts at</span>
                                        <span>
                                            <span>$</span>
                                            <span class="monthly-item">149</span>
                                            <span class="annual-item">1639</span>
                                        </span>
                                        <p>
                                            <span class="monthly-item">/monthly</span>
                                            <span class="annual-item">/annual</span>
                                        </p>
                                    </div>

                                    <a href="http://www.loadmance.com/login" target="_blank">Login to Buy</a>
                                </div>
                            </div>

                            <div class="plan-item">
                                <div class="item-header">
                                    <h2>Premium</h2>

                                    {# <p></p> #}
                                </div>

                                <div class="item-content">
                                    <div class="price">
                                        <span>Starts at</span>
                                        <span>
                                            <span>$</span>
                                            <span class="monthly-item">349</span>
                                            <span class="annual-item">3839</span>
                                        </span>
                                        <p>
                                            <span class="monthly-item">/monthly</span>
                                            <span class="annual-item">/annual</span>
                                        </p>
                                    </div>

                                    <a href="http://www.loadmance.com/login" target="_blank">Login to Buy</a>
                                </div>
                            </div>

                            <div class="plan-item">
                                <div class="item-header">
                                    <h2>Enterprise</h2>

                                    <p>Find the perfect plan for you</p>
                                </div>

                                <div class="item-content">
                                    <a href="javascript:;">Talk To Sales</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="s-container">
                <div class="content-body">
                    <div class="body-item">
                        <span class="item-title">Features</span>

                        <div class="item-list">
                            <div class="list-item">
                                <span class="list-title"></span>

                                <div class="list-row">
                                    <div class="row-item">
                                        <span>Features</span>

                                        <span>Concurrent User</span>

                                        <span>Test Count (Monthly)</span>

                                        <span>Test Count (*Annually)</span>

                                        <span>Load Generator</span>

                                        <span>Max. Test Duration</span>

                                        {# <span>Max. Test Duration (Monthly)</span> #}

                                        {# <span>Max. Test Duration (Annually)</span> #}

                                        <span>API Calls Limitation</span>

                                        <span>Geographic Distrubition <br> of Load</span>

                                        <span>Dedicated IP</span>

                                        <span>Parallel Test</span>

                                        <span>Data Retention</span>

                                        {# <span>Data Retention (Monthly)</span> #}

                                        {# <span>Data Retention (Annually)</span> #}
                                    </div>

                                    <div class="row-item">
                                        <span>Free</span>

                                        <span>100</span>

                                        <span>10</span>

                                        <span>-</span>

                                        <span>1</span>

                                        <span>10 Min</span>

                                        <span>100.000</span>

                                        <span>No</span>

                                        <span>No</span>

                                        <span>2</span>

                                        <span>1 Month</span>
                                    </div>

                                    <div class="row-item">
                                        <span>Basic</span>

                                        <span>1000</span>

                                        <span>20</span>

                                        <span>260</span>

                                        <span>5</span>

                                        <span>30 Min</span>

                                        <span>∞</span>

                                        <span>No</span>

                                        <span>Yes $30 per month</span>

                                        <span>2</span>

                                        <span>3 Month</span>
                                    </div>

                                    <div class="row-item">
                                        <span>Standard</span>

                                        <span>2500</span>

                                        <span>30</span>

                                        <span>390</span>

                                        <span>10</span>

                                        <span>60 Min</span>

                                        <span>∞</span>

                                        <span>Yes</span>

                                        <span>Yes $30 per month</span>

                                        <span>4</span>

                                        <span>4 Month</span>
                                    </div>

                                    <div class="row-item">
                                        <span>Premium</span>

                                        <span>6000</span>

                                        <span>40</span>

                                        <span>520</span>

                                        <span>12</span>

                                        <span>60 Min</span>

                                        <span>∞</span>

                                        <span>Yes</span>

                                        <span>Yes $30 per month</span>

                                        <span>5</span>

                                        <span>6 Month</span>
                                    </div>

                                    <div class="row-item">
                                        <span>Enterprise</span>

                                        <span>Customizable</span>

                                        <span>∞</span>

                                        <span>Customizable</span>

                                        <span>Customizable</span>

                                        <span>Customizable</span>

                                        <span>Customizable</span>

                                        <span>Yes</span>
                                        
                                        <span>Yes $30 per month</span>

                                        <span>∞</span>

                                        <span>Customizable</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# <div class="content-info">
                    <p></p>
                </div> #}
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        {% from "../layouts/footer.njk" import footer %}
        {{ footer(false, "") }}
    </main>
{% endblock %}