{% extends "../main.njk" %}

{% block page_title %}
   Privicy Policy
{% endblock %}

{% block header %}
    {% from "../layouts/header.njk" import header %}
    <main data-barba="container" data-barba-namespace="contract-section">
        {{ header() }}
    {% endblock %}

    {% block content %}
        <section class="page-banner">
            <div class="banner-bg"></div>

            <div class="banner-circle circle-2"></div>
            <div class="banner-circle circle-1"></div>

            <div class="s-container">
                <div class="banner-breadcrumb">
                    {# <span>Privicy Policy</span> #}
                </div>

                <div class="banner-title">
                    <h1>Loadmance Kişisel Verilerin Korunması ve Aydınlatma Metni</h1>
                </div>
            </div>
        </section>

        <section class="usecase-detail">
            <div class="detail-container">
                <div class="detail-item">
                    <p>İşbu Loadmance Kişisel Verilerin Korunması Aydınlatma Metni (“Aydınlatma Metni”), 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) uyarınca www.loadmance.com (“Site”) ve sunulan platform hizmetleri (“Platform”) kapsamında kişisel verilerinizin toplanması, işlenmesi, aktarılması ve KVKK kapsamındaki haklarınıza dair sizleri bilgilendirmek amacıyla hazırlanmıştır.
                    <br><br>    
                    Virgosol Bilişim ve Yazılım Çözümleri Anonim Şirketi (“Şirket” veya “Virgosol”) olarak, veri sorumlusu sıfatıyla kişisel verilerinizi KVKK ve ilgili mevzuata uygun olarak aşağıda açıklanan kapsamda işliyoruz.</p>
                </div>

                <div class="detail-item">
                    <h2>1.	İşlenen Kişisel Veriler</h2>

                    <p>
                        İşbu Aydınlatma Metni’nde belirtilen kişisel veri işleme amaçlarımızı gerçekleştirebilmek amacıyla, aşağıdaki kişisel verilerini işleyebilmekteyiz:
                        <br><br>
                        Platform Kullanıcıları:
                    </p>

                    <ul>
                        <li>Ad ve Soyad</li>
                        <li>E-mail</li>
                        <li>Bağlı olunan şirket</li>
                        <li>IP adresi</li>
                    </ul>

                    <p>
                        Site Ziyaretçileri
                    </p>

                    <ul>
                        <li>IP adresi</li>
                        <li>Çerez bilgileri (Daha detaylı bilgi için Çerezlere İlişkin Aydınlatma Metni’ne bakabilirsiniz).</li>
                    </ul>
                </div>

                <div class="detail-item">
                    <h2>2.	Kişisel Verileri İşleme Amaçlarımız</h2>
                    <p>
                        Kişisel verilerinizi, aşağıdaki amaçlar ile sınırlı olarak işliyoruz:
                    </p>

                    <ul>
                        <li>Ürün ve/veya hizmetlerimizin sunulabilmesi ve ürünlerimizin satış süreçlerinin yürütülmesi,</li>
                        <li>Ürünlerimizin kullanıcılarımız ve abonelerimiz tarafından kullanılabilmesi,</li>
                        <li>Müşterilerimizin Platform kaydının oluşturulabilmesi,</li>
                        <li>Üyelik işlemlerinin gerçekleştirilmesi,</li>
                        <li>İhtiyaçlarınız ve talepleriniz doğrultusunda ürün ve hizmetlerimizin güncellenmesi, özelleştirilmesi ve geliştirilmesi,</li>
                        <li>Ürün ve hizmetlerimizdeki problemlerin çözülmesi, hata, sorun ve bugların tespit edilmesi, bunların giderilmesi ve kullanıcılarımıza daha iyi bir deneyimin sunulması,</li>
                        <li>Müşterilerimizin talebi üzerine ürün ve hizmetlerimiz hakkında size gerekli eğitimlerin ve bilgilendirmelerin verilebilmesi, programlarımızın nasıl kullanılacağının izah edilmesi,</li>
                        <li>Müşteri ilişkileri süreçlerinin yürütülmesi,</li>
                    </ul>
                </div>

                <div class="detail-item">
                    <h2>3.	Kişisel Verileri Toplama Yöntemimiz</h2>
                    <p>Kişisel verileriniz Site ve Platform üzerinden ve/veya e-posta/Site ve Platform üzerinden sunulan elektronik kanallar aracılığıyla toplanmaktadır. </p>
                </div>

                <div class="detail-item">
                    <h2>4.	Hukuki Sebepler</h2>
                    <p>Kişisel verileriniz; KVKK’nın 5. maddesinde belirtilen kanunlarda açıkça öngörülmesi, Şirket ile aranızdaki sözleşmenin kurulması ve ifası için gerekli olması, Şirketin hukuki yükümlülüğünü yerine getirmesi için zorunlu olması, Şirketin hakkını tesis etmesi, savunması ve koruması için zorunlu olması, Şirketin meşru menfaatini yerine getirmesi için zorunlu olması ve açık rızanızın bulunması hukuki sebeplerine dayalı olarak işlenmektedir.</p>
                </div>

                <div class="detail-item">
                    <h2>5.	Kişisel Verileriniz Aktarılması </h2>
                    <p>Kişisel verileriniz, Site ve Platform altyapı sunucularına, yurt içine ve açık rızanız dahilinde yurt dışına aktarılabilecektir. 
                    <br><br>
                    Ek olarak kişisel verileriniz, yurt içinde bulunan dış hizmet sağlayıcılara ve hukuki yükümlülüğümüzün yerine getirilmesi ve adli veya idari mercilerden gelen talepler ve denetimler kapsamında bilgi talep edilmesi ve oluşabilecek uyuşmazlıklarda gerekli hukuki aksiyonların alınması bakımından hukuken yetkili gerçek veya özel hukuk tüzel kişilere aktarılabilecektir.</p>
                </div>

                <div class="detail-item">
                    <h2>6.	Haklarınız</h2>
                    <p>
                        KVKK’nın 11. maddesi uyarınca kişisel verilerinize ilişkin aşağıdaki haklara sahipsiniz:
                    </p>

                    <ul>
                        <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
                        <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</li>
                        <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                        <li>Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,</li>
                        <li>Kişisel verilerinizin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                        <li>6698 sayılı Kişisel Verilerin Korunması Kanunu ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerinizin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                        <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,</li>
                        <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız halinde bu zararın giderilmesini talep etme.</li>
                    </ul>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        {% from "../layouts/footer.njk" import footer %}
        {{ footer(false, "") }}
    </main>
{% endblock %}