{% extends "../main.njk" %}

{% block page_title %}
   Health - Use Cases
{% endblock %}

{% block header %}
    {% from "../layouts/header.njk" import header %}
    {{ header() }}
{% endblock %}

{% block content %}
    <section class="page-banner">
        <div class="banner-circle circle-2"></div>
        <div class="banner-circle circle-1"></div>

        <div class="s-container">
            <div class="banner-breadcrumb">
                <span>Use Cases</span>
                <span>Exhibitions</span>
            </div>

            <div class="banner-title">
                <h1>Bringing Excitement into virtual expos</h1>

                <p>
                    Hosting expos requires a few key ingredients: a dose of 
                    networking, a dash of collaboration, and a sprinkle of 
                    excitement. Wonder brings them all to the table.
                </p>
            </div>
        </div>
    </section>

    <section class="usecase-detail">
        <div class="detail-container">
            <p>Traditional video conferencing software flattens the excitement of industry gatherings. Expos feel 
            impersonal when organizers corral attendees together, requiring them to look at the same speaker at 
            the same time.</p>

            <p>Attendee chatter at events often suffers from this same sense of confinement. Wonder offers a 
            unique approach to digital spaces, allowing users to choose whom to listen, talk to, and where. See
            how Wonder has made waves among the organizers and managers of industry exhibitions in the stories below.</p>

            <div class="detail-text">
                <h2>Masters of Collaboration</h2>

                <p>
                    <span>'</span>
                    Wonder allows us to facilitate that 
                    [collaboration] better than using 
                    breakout rooms in Teams or Zoom.
                    <span>'</span>
                </p>

                <span>Ben Greg - researcher for digital learning and teaching at University of Surrey</span>
            </div>

            <p>
                Ben Greg, a researcher for digital learning and teaching at University of Surrey, runs a handful of large conferences each year, as well as various department meetings and “drop-in” sessions. He and his team learned about Wonder in early 2020, when a fellow academic recommended the platform.
                <br>
                <br>
                “The way we work tends to be very collaborative, and we often break up into small teams. Wonder allows us to facilitate that better than using breakout rooms in Teams or Zoom,” he said. “It’s also just aesthetically more engaging to work with from a design side. It’s a very visual experience.”
                <br>
                <br>
                Greg and his team frequently use Wonder as an add-on networking and socializing platform for events and exhibitions, including the 2021 Veterinary Education Symposium, hosted by the University’s School of Veterinary Medicine. Wonder allows them to help connect like-minded guests at an event and set up booths for exhibitors or sponsors.
                <br>
                <br>
                “Being in a virtual conference can be quite isolating if you just sit in a room. There’s something amazing about going into Wonder and seeing lots of people running around,” he said. “No one had seen anything like it before.”
            </p>

            <div class="detail-text">
                <h2>Bring the Hotel Ballroom to You</h2>

                <p>
                    <span>'</span>
                    It just seemed natural after using 
                    Wonder for our annual conference 
                    that this was probably going to be the 
                    best vehicle for what we were 
                    envisioning.
                    <span>'</span>
                </p>

                <span>Diana Hakenholz - Director of Meetings and Education at the Association of Collegiate Conference & Events Directors-International (ACCED-I)</span>
            </div>

            <p>
                Diana Hakenholz, Director of Meetings and Education at the Association of Collegiate Conference & Events Directors-International (ACCED-I), headquartered in Fort Collins, Colorado called on Wonder for her association’s annual conference this past March. 
                <br>
                <br>
                Before the COVID-19 pandemic, Hakenholz said, ACCED-I would rent out huge event spaces, like hotel ballrooms, to hold networking events such as expos and roundtable discussions. Wonder, she said, was able to bring much of that experience to the virtual space.
                <br>
                <br>
                “We wanted to find a way to do it in a way that felt more organic and natural, and people could break off into smaller groups,” she said. “It just seemed natural after using Wonder for our annual conference that this was probably going to be the best vehicle for what we were envisioning for this group of folks.”
            </p>

            <div class="detail-text">
                <h2>Bring the Hotel Ballroom to You</h2>

                <p>
                    <span>'</span>
                    It just seemed natural after using 
                    Wonder for our annual conference 
                    that this was probably going to be the 
                    best vehicle for what we were 
                    envisioning.
                    <span>'</span>
                </p>

                <span>Diana Hakenholz - Director of Meetings and Education at the Association of Collegiate Conference & Events Directors-International (ACCED-I)</span>
            </div>

            <h2>Elevate Your Expo</h2>

            <p>
                Step up the game for your next virtual expo. Thanks to an interface that encourages users to roam 
                freely throughout a virtual space and strike up conversations with whomever they want, Wonder 
                brings virtual experiences to a whole new level.
                Ready to give Wonder a go? <a href="javascript:;">Get your Wonder Space.</a>
            </p>
        </div>
    </section>

    <section class="usecase-footer">
        <div class="usecase-cards-circle"></div>

        <div class="usecase-cards">
            <div class="s-container">
                <h3>Hot off the press</h3>

                <div class="cards-list">
                    <div class="card-item">
                        <p>“Wonder taps into a very current trend: advanced videoconferencing. Thousands of users can converse – and instead of all facing each other like in a Zoom call, they can jump between conversations in video, audio or text.”</p>
                    </div>

                    <div class="card-item">
                        <p>
                        “Different to the incumbent Zoom, it 
                        enables in-between chats, group 
                        collaboration and networking. Wonder  therefore simulates in-person events.”
                    </p>
                    </div>

                    <div class="card-item">
                        <p>“Wonder has built a platform to come together in video-based groups to meet up, network and collaborate, while also having a bird’s-eye view of a larger space where they can more serendipitously, or more intentionally,  interact with others — not unlike in an office or other business venue.”</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="usecase-extra">
            <div class="s-container">
                <h4>Let the connection commence</h4>

                <p>See where your first Space could take you</p>

                <a href="javascript:;">Create your Space</a>
            </div>
        </div>
    </section>
{% endblock %}