.home-pricing {
    background: black;
    padding: 200px 0 100px;
    position: relative;
    overflow: hidden;
    font-weight: 300;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, black, transparent);
        height: 600px;
        z-index: 1;
        pointer-events: none;
    }

    .line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/home-pricing-line.png");
        opacity: 0.9;
        pointer-events: none;
    }

    .gradient-bg {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140%;
        height: 140%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: none;
        background-image: url("../img/home-pricing-gradient.png");
    }

    .s-container {
        .home-pricing-header {
            width: 1000px;
            margin: 0 auto;

            .home-pricing-title {
                position: relative;

                >span {
                    font-size: 94px;
                    color: #fff;
                    display: block;
                    position: relative;

                    >span {
                        svg {
                            position: absolute;
                            right: -80px;
                            top: -50px;
                        }

                        position: relative;
                    }

                    &:nth-child(3) {
                        margin-left: 230px;
                        margin-top: 25px;
                    }
                }

                display: flex;
                flex-direction: column;
                align-items: center;

                .img {
                    position: absolute;
                    bottom: -100px;
                    left: 140px;
                    width: 220px;
                    height: 350px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 1;
                    background-image: url("../img/home-pricing-img.png");
                }
            }

            p {
                font-size: 16px;
                color: #fff;
                opacity: 0.5;
                text-align: right;
                margin-top: 50px;
                margin-right: 200px;
            }

            margin-bottom: 150px;

            .switch-plan {
                margin-top: 60px;

                .switch-item label .switch-bar {
                    background: none;
                    border: 1px solid rgb(255 255 255 / 50%);
                }
            }
        }

        .home-pricing-table-row {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            margin: 0 -25px;

            .home-pricing-table-item {
                flex: 0 0 calc(33% - 50px);
                padding: 0 25px;

                .item-title {
                    >span {
                        font-size: 30px;
                        color: #fff;
                    }

                    .price>span {
                        font-size: 40px;
                        background: -webkit-linear-gradient(180deg, #7A51C3, #84478C);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #ffffff66;
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                    min-height: 50px;
                }

                .item-summary {
                    p {
                        font-size: 15px;
                        color: #fff;
                        max-width: 310px;
                        min-height: 40px;
                        line-height: 1.3;
                    }

                    border-bottom: 1px solid #ffffff66;
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                    display: none;
                }

                .item-features {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 300px;
                        background: linear-gradient(to top, black, transparent);
                        z-index: 1;
                        pointer-events: none;
                    }

                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 40px;

                        span {
                            font-size: 12px;
                            color: #fff;
                            opacity: 0.6;
                        }
                    }
                }

                .item-btn {
                    a {
                        font-size: 12px;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        color: #fff;
                        padding: 18px 30px;
                        display: inline-block;
                    }

                    display: flex;
                    align-items: center;

                    &:after {
                        content: "";
                        display: block;
                        height: 1px;
                        background: #fff;
                        flex: 1;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        .s-container {
            .home-pricing-header {
                .home-pricing-title {
                    .img {
                        transform: scale(0);
                    }

                    >span {
                        &:nth-child(2) {
                            transform: translate(-40px, 0px);
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: translate(40px, 0px);
                            opacity: 0;
                        }

                        >span svg ellipse {
                            stroke-dasharray: 1000;
                            stroke-dashoffset: 1000;
                        }
                    }
                }

                .home-pricing-title>span>span svg circle {
                    opacity: 0;
                }

                p {
                    transform: translate(0, 30px);
                    opacity: 0;
                }

                .switch-plan {
                    transform: translate(0px, 30px);
                    opacity: 0;
                }
            }

            .home-pricing-table-row .home-pricing-table-item {
                transform: translate(0px, 50px);
                opacity: 0;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        padding: 100px 0;

        .s-container {
            .home-pricing-header {
                transform: scale(0.7);
                transform-origin: left;
                margin-bottom: 0;

                .home-pricing-title .img {
                    left: 100px;
                }
            }

            .home-pricing-table-row {
                display: block;

                .home-pricing-table-item {
                    margin-top: 100px;

                    .item-features {
                        max-height: 300px;
                        overflow: hidden;
                    }
                }
            }
        }

        .line {
            opacity: 0.4;
        }
    }

    @media only screen and (max-width: 767px) {
        .s-container {
            .home-pricing-header {
                transform: scale(1);
                width: auto;

                .home-pricing-title {
                    >span {
                        font-size: 9vw;

                        &:nth-child(3) {
                            margin-left: 19vw;
                            margin-top: 5vw;
                        }
                    }

                    .img {
                        width: 23vw;
                        height: 40vw;
                        left: 7vw;
                        top: -6vw;
                    }

                    >span>span svg {
                        width: 40vw;
                        right: -6vw;
                        top: -19vw;
                    }
                }

                p {
                    margin: 50px 0;
                    text-align: center;
                    font-size: 15px;
                    line-height: 1.6;
                }
            }

            .home-pricing-table-row .home-pricing-table-item .item-features {
                max-height: 200px;
            }
        }

        .gradient-bg {
            top: 100px;
        }
    }
}