.home-get-started {
    position: relative;
    overflow: hidden;
    height: 1070px;
    z-index: 2;

    .home-get-started-line {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translate(-50%, 0px);
        z-index: 1;
    }

    .home-get-started-circle-1 {
        position: absolute;
        top: 400px;
        left: 11%;
        width: 110px;
        height: 110px;
        border: 7px solid #FDED72;
        border-radius: 100%;
        opacity: 0.5;
    }

    .home-get-started-circle-2 {
        position: absolute;
        top: 200px;
        right: 11%;
        width: 80px;
        height: 80px;
        border: 7px solid #9DBFF9;
        border-radius: 100%;
        opacity: 0.3;
    }

    .home-get-started-circle-container {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        transform: translate(-50%, 0px);
        width: 100%;
        opacity: 0.2;

        svg {
            width: 100%;
        }
    }

    .s-container {
        .home-get-started-title {
            font-weight: bold;
            font-size: 60px;
            color: #fff;

            span {
                color: #ff5c5c;
            }
        }

        p {
            margin-top: 70px;
            font-size: 16px;
            color: #fff;
            opacity: 0.5;
            line-height: normal;
        }

        a {
            font-size: 16px;
            color: #fff;
            padding: 16px 25px;
            border-radius: 10px;
            background: #0061FF;
            display: inline-block;
            margin-top: 75px;
        }

        text-align: center;
        position: relative;
        margin-top: 221px;
    }

    .home-get-started-images {
        position: absolute;
        bottom: -60px;
        left: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 500px;
        overflow: hidden;

        .home-get-started-images-img {
            flex: 0 0 40%;
            height: 80%;
            position: relative;
            border-radius: 20px;
            overflow: hidden;

            .home-get-started-images-img-item {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &:nth-child(1) {
                opacity: 0.7;
            }

            &:nth-child(3) {
                opacity: 0.7;
                transform: translate(-40%, 0px);
            }

            &:nth-child(1) {
                transform: translate(40%, 0px);
            }

            &:nth-child(2) {
                z-index: 1;
                transform: scale(1.2);
                transform-origin: bottom;
            }
        }
    }

    @media (min-width: 1200px) {

        // .home-get-started-circle-container svg>g>g circle {
        //     transform: scale(0)
        // }

        .home-get-started-line {
            div {
                transform: translate(-100%, 0px);
                overflow: hidden;
            }

            svg {
                transform: translate(100%, 0px);
            }
        }

        .home-get-started-circle-1,
        .home-get-started-circle-2 {
            transform: scale(0);
        }

        .s-container {

            .home-get-started-title,
            p,
            .home-get-started-link {
                transform: translate(0px, 30px);
                opacity: 0;
            }
        }

        .home-get-started-images .home-get-started-images-img {
            transform: translate(0px, 100%);

            &:nth-child(1) {
                transform: translate(40%, 100%);
            }

            &:nth-child(2) {
                transform: translate(0, 100%) scale(1);
            }

            &:nth-child(3) {
                transform: translate(-40%, 100%);
            }
        }
    }

    @media (max-width: 1370px) {
        height: 930px;

        .home-get-started-circle-container {
            width: 140%;
        }

        .s-container {
            .home-get-started-title {
                font-size: 50px;
            }

            p {
                margin-top: 50px;
            }

            a {
                margin-top: 55px;
            }
        }
    }

    @media (max-width: 1199px) {
        height: 800px;

        .home-get-started-images {
            bottom: -150px;
        }

        .home-get-started-line {
            top: 80px;
        }

        .home-get-started-circle-container {
            width: 190%;
        }
    }

    @media (max-width: 767px) {
        height: 540px;

        .home-get-started-circle-container {
            width: 540%;
        }

        .s-container {
            margin-top: 80px;

            .home-get-started-title {
                font-size: 35px;
                max-width: 240px;
                margin: 0px auto;
            }

            p {
                font-size: 13px;
                line-height: normal;
                max-width: 300px;
                margin: 30px auto 0;
            }

            a {
                margin-top: 35px;
            }
        }

        .home-get-started-circle-1 {
            width: 70px;
            height: 70px;
            border-width: 4px;
            top: 190px;
            left: 6%;
        }

        .home-get-started-circle-2 {
            border-width: 6px;
            opacity: 0.2;
            top: 60px;
        }

        .home-get-started-line {
            top: 30px;
        }

        .home-get-started-images {
            height: 250px;
            bottom: -80px;

            .home-get-started-images-img {
                flex: 0 0 60%;
                height: 100%;
            }
        }
    }
}