.home-reviews {
    background: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 300px 0;
    font-weight: 300;

    .blur-item {
        position: absolute;
        top: -200px;
        left: -600px;
        width: 1500px;
        height: 1500px;
        background-image: url("../img/home-review-bg.png");
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
        pointer-events: none;
    }

    .home-reviews-content {
        flex: 0 0 350px;
        margin: 60px 100px 0 150px;
        position: relative;

        .home-reviews-title {
            font-size: 60px;
            color: #fff;
            margin-bottom: 64px;
            display: block;
        }

        p {
            font-size: 25px;
            line-height: 35px;
            color: #fff;
            opacity: 0.5;
            margin-bottom: 100px;
        }

        .slide-btn {
            display: flex;
            align-items: center;

            .btn {
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    opacity: 0.5;
                }
            }

            .btn.btn-next {
                margin-left: 30px;
            }
        }
    }

    .home-reviews-slider {
        flex: 1;
        overflow: hidden;

        .swiper-container {
            overflow: hidden;
            padding-right: 60%;
        }

        .home-reviews-slider-item {
            .home-reviews-slider-item-profile {
                .home-reviews-slider-item-profile-text {
                    h2 {
                        font-weight: bold;
                        font-size: 25px;
                        color: #fff;
                    }

                    span {
                        font-size: 20px;
                        color: #fff;
                        opacity: 0.5;
                        margin-top: 14px;
                        display: block;
                    }

                    margin-left: 25px;
                }

                display: flex;
                align-items: center;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                margin-top: 80px;
            }

            .home-reviews-slider-item-rate {
                display: flex;
                margin-top: 75px;

                .rate {
                    +.rate {
                        margin-left: 4px;
                    }

                    &.in-active {
                        opacity: 0.4;
                    }
                }
            }

            background: #000;
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 80px 65px;
        }
    }

    @media only screen and (min-width: 1200px) {
        .home-reviews-slider .home-reviews-slider-item {
            transform: translate(40px, 0px);
            opacity: 0;
        }

        .home-reviews-content {
            .home-reviews-title {
                transform: translate(-10px, 0px);
                opacity: 0;
            }

            p {
                transform: translate(-20px, 0px);
                opacity: 0;
            }

            .slide-btn {
                transform: translate(-30px, 0px);
                opacity: 0;
            }
        }
    }

    @media only screen and (max-width: 1440px) {
        .home-reviews-slider {
            .swiper-container {
                padding-right: 40%;
            }
        }
    }

    @media only screen and (max-width: 1199px) {
        padding: 200px 0;

        .home-reviews-content {
            flex: 0 0 300px;
            margin: 60px 80px;

            .home-reviews-title {
                font-size: 50px;
            }

            p {
                font-size: 20px;
            }
        }

        .home-reviews-slider {
            .swiper-container {
                padding-right: 30%;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        padding: 100px 0 200px;

        .home-reviews-content {
            margin: 60px;
            flex: 1;

            .home-reviews-title,
            p {
                max-width: 60%;
                margin-bottom: 0;
            }

            .slide-btn {
                position: absolute;
                top: 50%;
                transform: translate(0px, -50%);
                right: 0;
                left: auto;
            }

            .home-reviews-title {
                margin-bottom: 50px;
            }
        }

        .home-reviews-slider {
            flex: 0 0 100%;

            .swiper-container {
                padding: 0 100px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .home-reviews-content {
            .home-reviews-title {
                font-size: 40px;
                max-width: 200px;
                margin-bottom: 20px;
            }

            p {
                max-width: 100%;
                font-size: 18px;
                line-height: 1.5;
            }

            margin: 0 24px;

            .slide-btn {
                position: relative;
                transform: translate(0px, 0px);
                top: 0;
                margin-top: 30px;
            }
        }

        .home-reviews-slider {
            margin-top: 50px;

            .home-reviews-slider-item {
                padding: 44px 32px;
            }

            .swiper-container {
                padding: 0 60px;
            }

            .home-reviews-slider-item {
                .home-reviews-slider-item-profile {
                    .home-reviews-slider-item-profile-text {
                        h2 {
                            font-size: 20px;
                        }

                        span {
                            font-size: 17px;
                            margin-top: 10px;
                        }
                    }

                    svg {
                        width: 40px;
                    }

                    .home-reviews-slider-item-profile-text {
                        margin-left: 20px;
                    }
                }

                p {
                    margin-top: 20px;
                    font-size: 14px;
                    line-height: 1.4;
                }

                .home-reviews-slider-item-rate {
                    margin-top: 30px;
                }
            }
        }
    }
}