.home-reviews {
    min-height: 830px;
    overflow: hidden;
    background: #07071C;
    position: relative;
    padding-bottom: 32px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #969696;
        z-index: 1;
        mix-blend-mode: soft-light;
    }

    .home-reviews-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 0 130px;
        position: relative;
        z-index: 2;

        .home-reviews-header-left {
            .home-reviews-title {
                font-weight: bold;
                font-size: 60px;
                color: #fff;

                span {
                    opacity: 0.6;
                }
            }

            p {
                font-size: 16px;
                color: #fff;
                opacity: 0.5;
                margin-top: 45px;
                line-height: normal;
            }
        }

        .home-reviews-header-right {
            opacity: 0.6;

            .home-reviews-slide-button {
                cursor: pointer;

                &.slide-button-next {
                    margin-top: 20px;
                }
            }
        }
    }

    .home-reviews-slider {
        position: relative;
        z-index: 2;

        .swiper-container {
            padding-left: 200px;
            padding-right: 300px;
        }

        .home-reviews-slider-item {
            border-radius: 45px;
            background-color: rgba(255, 255, 255, 0.07);
            padding: 35px 45px 60px;

            p {
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                white-space: initial;
                margin-bottom: 60px;
            }

            .home-reviews-slider-item-rate {
                display: flex;

                .rate {
                    margin-right: 7px;

                    &.in-active {
                        opacity: 0.4;
                    }
                }
            }

            .home-reviews-slider-item-profile {
                margin-top: 50px;
                display: flex;

                .home-reviews-slider-item-profile-avatar {
                    min-width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    background: white;
                    margin-right: 27px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .home-reviews-slider-item-profile-text {
                    h2 {
                        font-weight: bold;
                        font-size: 25px;
                        color: #fff;
                    }

                    span {
                        font-size: 20px;
                        color: #fff;
                        opacity: 0.5;
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    @media (min-width: 1200px) {
        .home-reviews-header {
            .home-reviews-header-left {
                .home-reviews-title {
                    transform: translate(0px, 30px);
                    opacity: 0;
                }

                p {
                    transform: translate(0px, 30px);
                    opacity: 0;
                }
            }

            .home-reviews-header-right .home-reviews-slide-button {
                &.slide-button-prev {
                    transform: translate(-20px, 0px);
                    opacity: 0;
                }

                &.slide-button-next {
                    transform: translate(20px, 0px);
                    opacity: 0;
                }
            }
        }

        .home-reviews-slider .home-reviews-slider-item {
            transform: translate(0px, 50px);
            opacity: 0;
        }
    }

    @media (max-width: 1199px) {
        .home-reviews-slider {
            .swiper-container {
                padding: 0 100px;
            }
        }
    }

    @media (max-width: 991px) {
        .home-reviews-header {
            .home-reviews-header-left {
                .home-reviews-title {
                    font-size: 50px;
                }

                p {
                    margin-top: 32px;
                    max-width: 500px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 80px;
        min-height: 700px;

        .home-reviews-header {
            display: block;
            padding: 60px 0;

            .home-reviews-header-left {
                .home-reviews-title {
                    font-size: 35px;
                }

                p {
                    max-width: 100%;
                    margin-top: 24px;
                }
            }

            .home-reviews-header-right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 32px;

                .home-reviews-slide-button {
                    &.slide-button-next {
                        margin-top: 0;
                        margin-left: 30px;
                    }
                }
            }
        }

        .home-reviews-slider {
            .swiper-container {
                padding: 0 50px;
            }

            .home-reviews-slider-item {
                padding: 30px 30px 40px;
                border-radius: 32px;

                p {
                    font-size: 14px;
                    line-height: 1.4;
                    margin-bottom: 40px;
                }

                .home-reviews-slider-item-profile {
                    margin-top: 30px;

                    .home-reviews-slider-item-profile-text {
                        h2 {
                            font-size: 18px;
                        }

                        span {
                            font-size: 15px;
                            margin-top: 4px;
                        }
                    }

                    .home-reviews-slider-item-profile-avatar {
                        min-width: 50px;
                        height: 50px;
                        margin-right: 16px;
                        margin-top: -4px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}