{% macro footer(homeCheck=false, footerClass="inner-header") -%}

    <footer class="{{ footerClass }}">
        {% if homeCheck == true %}
            <div class="footer-home-container">
                <div class="footer-logo">
                    <img src="./assets/img/logo-text.svg" alt="Loadmance">
                </div>

                <div class="footer-marquee">
                    <div class="footer-marquee-row marquee-1">
                        <div class="footer-marquee-item">
                            <span>Contact Us</span>
                        </div>

                        <div class="footer-marquee-item">
                            <span>Lets's Talk</span>
                        </div>

                        <div class="footer-marquee-item">
                            <span>Contact Us</span>
                        </div>

                        <div class="footer-marquee-item">
                            <span>Lets's Talk</span>
                        </div>
                    </div>
                </div>

                <div class="footer-menu">
                    <div class="footer-container">
                        <div class="footer-lines">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                        <a href="javascript:;" class="menu-item">
                            <img src="./assets/img/footer-icon-1.svg" alt="Document">

                            <span>
                                Document
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.175" height="21.349" viewBox="0 0 12.175 21.349">
                                    <path style="fill: none; stroke: #fff; stroke-width: 3px; opacity: 0.5;" d="M20.053,25.606,11.5,17.053,20.053,8.5" transform="translate(22.175 27.728) rotate(180)"/>
                                </svg>
                            </span>
                        </a>

                        <a href="pricing.html" class="menu-item">
                            <img src="./assets/img/footer-icon-2.svg" alt="Pricing">

                            <span>
                                Pricing
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.175" height="21.349" viewBox="0 0 12.175 21.349">
                                    <path style="fill: none; stroke: #fff; stroke-width: 3px; opacity: 0.5;" d="M20.053,25.606,11.5,17.053,20.053,8.5" transform="translate(22.175 27.728) rotate(180)"/>
                                </svg>
                            </span>
                        </a>

                        <a href="use-cases.html" class="menu-item">
                            <img src="./assets/img/footer-icon-3.svg" alt="Use Cases">

                            <span>
                                Use Cases
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.175" height="21.349" viewBox="0 0 12.175 21.349">
                                    <path style="fill: none; stroke: #fff; stroke-width: 3px; opacity: 0.5;" d="M20.053,25.606,11.5,17.053,20.053,8.5" transform="translate(22.175 27.728) rotate(180)"/>
                                </svg>
                            </span>
                        </a>

                        <a href="javascript:;" class="menu-item">
                            <img src="./assets/img/footer-icon-4.svg" alt="Sign in">

                            <span>
                                Sign in
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.175" height="21.349" viewBox="0 0 12.175 21.349">
                                    <path style="fill: none; stroke: #fff; stroke-width: 3px; opacity: 0.5;" d="M20.053,25.606,11.5,17.053,20.053,8.5" transform="translate(22.175 27.728) rotate(180)"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="footer-marquee">
                    <div class="footer-marquee-row marquee-2">
                        <div class="footer-marquee-item">
                            <a href="tel:+44001234455">+44 00 123 44 55</a>
                        </div>

                        <div class="footer-marquee-item">
                            <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                        </div>

                        <div class="footer-marquee-item">
                            <a href="tel:+44001234455">+44 00 123 44 55</a>
                        </div>

                        <div class="footer-marquee-item">
                            <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="footer-container">
                        <p>© Loadmance 2021, All Rights Reserved</p>

                        <div class="scroll-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.742" height="15.624" viewBox="0 0 13.742 15.624">
                                <g transform="translate(1.414 14.624) rotate(-90)">
                                    <line style="fill: none; stroke: rgba(255,255,255,0.5); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px;" x2="13.624" transform="translate(0 5.32)"/>
                                    <path style="fill: none; stroke: rgba(255,255,255,0.5); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px;" d="M0,0,5.457,5.457,0,10.914" transform="translate(8.165)"/>
                                </g>
                            </svg>

                            <span>Go Top</span>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="footer-container">
                {% if homeCheck == false %}
                    <div class="footer-circle circle-1"></div>
                    <div class="footer-circle circle-2"></div>
                {% endif %}

                <div class="footer-row">
                    <div class="footer-col">
                        <div class="footer-logo">
                            {% if homeCheck %}
                                <img src="./assets/img/logo-text.svg" alt="Loadmance">
                            {% else %}
                                <img src="./assets/img/footer-logo.svg" alt="Loadmance">
                            {% endif %}
                        </div>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <a href="javascript:;">Ask Question</a>
                    </div>

                    <div class="footer-col">
                        <ul>
                            <li>
                                <a href="javascript:;">Documentation</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing</a>
                            </li>
                            <li>
                                <a href="use-cases.html">Use Cases</a>
                            </li>
                            <li>
                                <a href="javascript:;">Sign in</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <div class="footer-contact">
                            <span>Contact</span>

                            <p>Feel free to get in touch with us via phone or send us a message.</p>

                            <a href="tel:+44001234455">+44 00 123 44 55</a>
                            <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="footer-container">
                    <p>© Loadmance 2021, All Rights Reserved</p>
                </div>
            </div>
        {% endif %}
    </footer>
{%- endmacro %}