{% macro footer(homeCheck=false, footerClass="inner-header") -%}

    <footer class="{{ footerClass }}">
        {% if homeCheck == true %}
            <div class="footer-earth"></div>

            <div class="footer-home-container">
                <div class="footer-row">
                    <div class="footer-logo">
                        <a href="/">
                            <img src="./assets/img/footer-img.svg" alt="Loadmance">
                        </a>

                        <p>
                            This project is being developed by utilizing the <br>
                            <span class="sm">TÜBİTAK TEYDEB Support Program (Project No: 3220195).</span>
                            <br>
                            However, all responsibility for the product/service <br>
                            belongs to <span>Virgosol IT and Software Solutions A.Ş.</span>
                        </p>
                    </div>

                    <div class="footer-menu">
                        <a href="https://www.linkedin.com/company/loadmance/" target="_blank">
                            <span>LINKEDIN</span>
                        </a>

                        <a href="mailto:info@loadmance.com">
                            <span>CAREER</span>
                        </a>
                    </div>

                    <div class="footer-marquee-container">
                        <div class="footer-marquee">
                            <div class="footer-marquee-row marquee-1">
                                <div class="footer-marquee-item">
                                    <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                                </div>

                                <div class="footer-marquee-item">
                                    <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                                </div>

                                <div class="footer-marquee-item">
                                    <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                                </div>

                                <div class="footer-marquee-item">
                                    <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                                </div>
                            </div>
                        </div>

                        <div class="footer-marquee">
                            <div class="footer-marquee-row marquee-2">
                                <div class="footer-marquee-item">
                                    <a href="javascript:;">Feel free to get in touch with us via phone or send us a message.</a>
                                </div>

                                <div class="footer-marquee-item">
                                    <a href="javascript:;">Feel free to get in touch with us via phone or send us a message.</a>
                                </div>

                                <div class="footer-marquee-item">
                                    <a href="javascript:;">Feel free to get in touch with us via phone or send us a message.</a>
                                </div>

                                <div class="footer-marquee-item">
                                    <a href="javascript:;">Feel free to get in touch with us via phone or send us a message.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="footer-container">
                        <p>© Loadmance 2022, All Rights Reserved</p>

                        <a href="https://hypeople.studio/" target="_blank">Made by <span>HYPEOPLE</span></a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="footer-container">
                {% if homeCheck == false %}
                    <div class="footer-circle circle-1"></div>
                    <div class="footer-circle circle-2"></div>
                {% endif %}

                <div class="footer-row">
                    <div class="footer-col">
                        <div class="footer-logo">
                            <a href="/">
                                {% if homeCheck %}
                                    <img src="./assets/img/logo-text.svg" alt="Loadmance">
                                {% else %}
                                    <img src="./assets/img/footer-logo.svg" alt="Loadmance">
                                {% endif %}
                            </a>
                        </div>

                        <p>Feel free to get in touch with us via phone or send us a message.</p>

                        <a href="mailto:info@loadmance.com">Ask Question</a>
                    </div>

                    <div class="footer-col">
                        <ul>
                            <li>
                                <a href="https://loadmance.gitbook.io/loadmance/" target="_blank">Documentation</a>
                            </li>

                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            
                            <li>
                                <a href="pricing.html">Pricing</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <div class="footer-contact">
                            <span>Contact</span>

                            <a href="tel:+902167064661">+90 216 706 4661</a>
                            <a href="mailto:info@loadmance.com">info@loadmance.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="footer-container">
                    <p>© Loadmance 2022, All Rights Reserved</p>

                    <a href="https://hypeople.studio/" target="_blank">Made by <span>HYPEOPLE</span></a>
                </div>
            </div>
        {% endif %}
    </footer>
{%- endmacro %}