{% macro header() -%}
    <header>
        <div class="header-row">
            <div class="header-logo">
                <a href="/">
                    <img src="./assets/img/logo-text.svg" alt="Loadmance">
                </a>

                <a href="mailto:info@loadmance.com">
                    <span>
                        <span>Join our team! ✶</span>
                    </span>
                </a>
            </div>

            <div class="header-menu">
                <ul>
                    <li>
                        <a href="javascript:;">Documentitaion</a>
                    </li>

                    <li>
                        <a href="pricing.html">Pricing 💎</a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            Use Cases
                            <span>▾</span>
                        </a>

                        <ul>
                            <li>
                                <a href="use-cases.html">Online Banking</a>
                            </li>

                            <li>
                                <a href="use-cases.html">Ecommerce</a>
                            </li>

                            <li>
                                <a href="use-cases.html">Fintech</a>
                            </li>

                            <li>
                                <a href="use-cases.html">Health</a>
                            </li>
                            <li>

                                <a href="use-cases.html">Automotive</a>
                            </li>

                            <li>
                                <a href="use-cases.html">Online Delivery</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="header-right">
                <div class="header-button">
                    <a href="javascript:;">
                        <span>Sign in</span>
                    </a>

                    <a href="javascript:;">
                        <span>Get started</span>
                    </a>
                </div>
            </div>

            <div class="mobile-menu-button">
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <div class="mobile-menu">
        <ul>
            <li>
                <a href="javascript:;">Documentitaion</a>
            </li>

            <li>
                <a href="pricing.html">Pricing 💎</a>
            </li>

            <li>
                <a href="javascript:;">
                    Use Cases
                    <span>▾</span>
                </a>

                <ul>
                    <li>
                        <a href="use-cases.html">Online Banking</a>
                    </li>
                    <li>
                        <a href="use-cases.html">Ecommerce</a>
                    </li>
                    <li>
                        <a href="use-cases.html">Fintech</a>
                    </li>
                    <li>
                        <a href="use-cases.html">Health</a>
                    </li>
                    <li>
                        <a href="use-cases.html">Automotive</a>
                    </li>
                    <li>
                        <a href="use-cases.html">Online Delivery</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul>
            <li>
                <a href="javascript:;">Sign in</a>
            </li>

            <li>
                <a href="javascript:;">Get started</a>
            </li>
        </ul>
    </div>
{%- endmacro %}