{% macro header() -%}
    <header>
        <div class="s-container">
            <div class="header-row">
                <a href="/">
                    <img src="./assets/img/logo-text.svg" alt="Loadmance">
                </a>

                <div class="header-right">
                    <ul>
                        <li>
                            <a href="javascript:;">Documentitaion</a>
                        </li>

                        <li>
                            <a href="pricing.html">Pricing</a>
                        </li>

                        <li>
                            <a href="javascript:;" class="active">
                                Use Cases
                                
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.96004 4.47498L6.70004 7.73498C6.31504 8.11998 5.68504 8.11998 5.30004 7.73498L2.04004 4.47498" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>

                            <ul>
                                <li>
                                    <a href="use-cases.html">Online Banking</a>
                                </li>

                                <li>
                                    <a href="use-cases.html">Ecommerce</a>
                                </li>

                                <li>
                                    <a href="use-cases.html" class="active">Fintech</a>
                                </li>

                                <li>
                                    <a href="use-cases.html">Health</a>
                                </li>
                                <li>

                                    <a href="use-cases.html">Automotive</a>
                                </li>

                                <li>
                                    <a href="use-cases.html">Online Delivery</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;">Sign in</a>
                        </li>
                    </ul>

                    <div class="header-button">
                        <a href="javascript:;">Get started</a>
                    </div>
                </div>

                {# <div class="header-mobile-menu">
                    <div class="mobile-menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </div> #}
            </div>
        </div>
    </header>
{%- endmacro %}